{% extends 'base.html'%}

{% block content %}
<style>
  body{
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.8) 100%), url('https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  }
</style>
<div class="container text-dark mt-5">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-8 card-1 bg-white p-5">
    {% if current_user.profile_pic_path %}
    <img src="{{url_for('static',filename=current_user.profile_pic_path)}}" alt="" class="img-circle" style="height: 200px; width: 40%;">
    {%else%}
    <p>No profile picture</p>
    {% endif %}

    {% if current_user == current_user %}
    <form  action="{{url_for('main.update_pic',name=current_user.username)}}" method="post" enctype = "multipart/form-data">
      <input type="file"  name="photo" class="form-control" required>
      <input type="submit">
    </form>
    {% endif %}
    <h4 class="mt-4">Hello {{current_user.username| capitalize}} </h4>
    <h5> {{current_user.email| capitalize}} </h5>

    <!--Displaying user bio-->
    {% if current_user.bio %}
      <p> {{current_user.bio}}</p>
    {%else%}
      <h3> {{current_user.username| capitalize}} has no bio </h3>
    {% endif %}
    {% if current_user == current_user %}
    <a class="btn btn-danger btn-sm" href="{{url_for('main.updateprofile',name=current_user.username)}}">Edit profile</a>
    {% endif %}
  </div>
  <div class="col-md-4 bg-dark text-white p-3">
    <div class="card bg-white text-dark">
      <p class="card-header">
          <span>~{{quote.author}}</span>
      </p>
      <p class="card-body">{{quote.quote}}</p>
  </div>
  </div>
</div>
</div>
{% endblock %}