{% extends 'base.html'%}

{% block content %}
<div class="container text-dark mt-5">
<div class="row">
<!-- displaying  Username-->
  <div class="col-md-8">
    <h4> {{current_user.username| capitalize}} </h4>
    <h5> {{current_user.email| capitalize}} </h5>

    <!--Displaying user bio-->
    {% if current_user.bio %}
      <p> {{current_user.bio}}</p>
    {%else%}
      <h3> {{current_user.username| capitalize}} has no bio </h3>
    {% endif %}
    {% if current_user == current_user %}
    <a class="btn btn-danger" href="{{url_for('main.updateprofile',name=current_user.username)}}">Edit profile</a>
    {% endif %}
  </div>

  <!--Display profile photo-->
  <div class="col-md-4">

    {% if current_user.profile_pic_path %}
    <img src="{{url_for('static',filename=current_user.profile_pic_path)}}" alt="" class="img-circle" style="height: 200px; width: 100%;">
    {%else%}
    <p>No profile picture</p>
    {% endif %}

    {% if current_user == current_user %}
    <form  action="{{url_for('main.update_pic',name=current_user.username)}}" method="post" enctype = "multipart/form-data">
      <input type="file"  name="photo" class="form-control" required>
      <input type="submit">
    </form>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}