{% extends 'base.html'%}

{% block content %}
<style>
    body{
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 100%), url('https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    }
</style>
    <div class="container landing">
        <div class="row ">
            <div class="col-md-3 "></div>
            <div class="col-md-8 bg-white text-dark p-5 m-5"><h1 >Welcome To The Creek</h1></div>
            <div class="col-md-3 "></div>
        </div>
    </div>
{% endblock %}